{%  extends "regular.html" %}
{% block body %}
<title>About - The Cum Zone</title>
  <h1>
    History
  </h1>
  <p>
  The Cum Zone started out as a bit of a joke between friends after watching a nice video, "Welcome to the Cum Zone" which is available on <a href="https://thecum.zone/welcome">the welcome page</a>
  </p>
  <p>
    So, after a while I was running the domain "stayawayfrommypersonal.space", which I later sold, after buying this one. I then got to work recreating my site.
  </p>

  <h1>
    The new Cum Zone
  </h1>
  <p>
  After using picturesof.thecum.zone for a while, I decided that keeping the photos saved forever wasn't a good idea, as I am running on a shitty low storage VPS. So I spent a while looking for a good replacement, I found QuadFile, which is pretty damn good. Now I've ported the rest of my small site to quadfile, where it is all on one page.
  </p>

  <h1>
    Volkor's Info
  </h1>
  <p>
  Hi. I'm the cum-man who runs this shit. if you need to contact me, you can do so at volkor@thecum.zone, or on IRC. I'm usually AWindowsKrill. Active on #linuxmasterrace.
  </p>
  <ul>
    <li><a href="https://gitlab.com/Volkor">GitLab</a></li>
    <li><a href="https://github.com/Volkor3-16">GitHub</a></li>
    <li><a href="https://twitter.com/TheVolkor">Turns out I have a twitter too.</a></li>
  </ul>
{% endblock %}
