{%  extends "regular.html" %}
{% block body %}

  <h1>
    Services of The Cum Zone
  </h1>
  <h2>
    Mumble
  </h2>
  <p>
    The mumble server is the main feature of thecum.zone. It is one of the largest (publicly listed) servers in australia too. You can join it by adding "thecum.zone" to your favourites on mumble.
  </p>
  <h2>
    Email Services
  </h2>
  <p>
    We have email running on thecum.zone, however we will soon be porting that over to a new, custom email host, and will work on an invite only system. So stay tuned!
  </p>

  <h2>
    Video Games
  </h2>
    <p>Since we're all pathetic manchildren, we all love to play minecraft and other cool christian video games. At the moment we have FTB Infinity Evolved running. The IP is: mc.thecum.zone</p>

  <h2>
    Cum Listen
  </h2>
  <p>For a while now we have been using heylisten.io to watch youtube synced together while we shitpost on mumble, but now we have <a href=https://listen.thecum.zone>Cum Listen</a> where we can have more than just youtube, and multiple channels!</p>
  <h2>
    BitlBee
  </h2>
  <p>BitlBee brings IM to IRC clients, my setup has the extra plugin BitlBee-discord, which allows you to access discord from your irc program!</p>
  <p>To set it up, run: <a href=https://github.com/sm00th/bitlbee-discord/>the instructions found here<a>, and then the extra instructions to get around the bug <a href=https://github.com/sm00th/bitlbee-discord/issues/118>go here and follow the instructions near the bottom</a> if you need any help with it, join <a href=http://webchat.snoonet.org/linuxmasterrace>##cumzone on snoonet and ping me.</a></p>


{% endblock %}
