{%  extends "regular.html" %}
{% block body %}

  <h1>
    Services of The Cum Zone
  </h1>
  <h2>
    Mumble
  </h2>
  <p>
    The mumble server is the main feature of thecum.zone. It is one of the largest (publicly listed) servers in australia too. You can join it by adding "thecum.zone" to your favourites on mumble.
  </p>
  <h2>
    Email Services
  </h2>
  <p>
    We have email running on thecum.zone, however we will soon be porting that over to a new, custom email host, and will work on an invite only system. So stay tuned!
  </p>

  <h2>
    Video Games
  </h2>
  <ul>
    <p>Since we're all pathetic manchildren, we all love to play minecraft and other cool christian video games. At the moment we have FTB Infinity Evolved running. The IP is: mc.thecum.zone</p>
  </ul>

{% endblock %}
