<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for web app usage -->
    <meta content="#1D1D1D" name="theme-color">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

    <!-- Logo links -->
    <link href="{{ url_for('static', filename='logo/152px.png') }}" rel="apple-touch-icon">
    <link href="{{ url_for('static', filename='logo/16px.png') }}" rel="icon" sizes="16x16">
    <link href="{{ url_for('static', filename='logo/32px.png') }}" rel="icon" sizes="32x32">
    <link href="{{ url_for('static', filename='logo/64px.png') }}" rel="icon" sizes="64x64">
    <link href="{{ url_for('static', filename='logo/152px.png') }}" rel="icon" sizes="152x152">

    <script type="text/javascript">
    function bgraven (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("/static/bg/raven.png")';
}
function bgjinx (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("/static/bg/jinx.png")';
}
function bgblank (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("")';
}
function bgnatalia (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("/static/bg/natalia.jpg")';
}
function bgtitansbeach (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("/static/bg/titansbeach.jpg")';
}
function bgstarfire (){
    var html = document.getElementsByTagName('html')[0];
    html.style.backgroundImage = 'url("/static/bg/starfire.png")';
}
    </script>

  </head>
  <body>
    <div class="page">
      {% block body %}{% endblock %}
    </div>

    <ul class="btn">
      <li>
        <button onclick="bgblank()">Blank</button>
      </li>
      <li>
        <button onclick="bgraven()">Raven</button>
      </li>
      <li>
        <button onclick="bgstarfire()">Starfire</button>
      </li>
      <li>
        <button onclick="bgjinx()">Jinx</button>
      </li>
      <li>
        <button onclick="bgnatalia()">Natalia</button>
      </li>
      <li>
        <button onclick="bgtitansbeach()">Titans beach</button>
      </li>
    </ul>
  </body>

</html>
