{%  extends "regular.html" %}
{% block body %}
  <video class="dmca" autoplay loop>
    <source src="{{ url_for('static', filename='welcome/' + video) }}">
  </video>
  <p class="note">ennui impossible. think of cum
        welcome to the cum zone, fool clean cock applicator
        honey i shrunk the cum dummies
        you made my pussy cummy
        makin this much cum aint easy
        vicious dick makeout session
        the ultimate sin is cum denial
        im more baked than pottery
        the cum strummer's sick licks
        nefarious cum mastermind
        dick sucked by a christmas friend
        fertilize a baby with hunk spunk
        I cumslammed ya mum
        fam tremendous cum spender
        suck my big fat juicy ballsack
        magnificently stylish cumdude
        crying to radiohead isn't lame
        co-op cock torture
        fancy lil cum trick
        my friends are trophy husbands
        im about that freakish 90s shit
        cum calamity leads to insanity
        i shape fates and i crush dudes
        i actually beat a nerd to death
        my dick is in love with pain
        weed jedi sniper
        congratulations future cumlords
        illegal dubstep mixtape
        get paid money to worship satan
        the failure of cum is back
        cumstuffer, jenkem huffer
        irreversible dick destruction
        true badass anime man
        ghost rides my bad emotions
        the fatal cum thought
        trots out my cum swag
        crazy daddy, insane gaming dad
        GodWarriors, Abstinence777
        Cum craving toddler
        RowdyRocker, ProudDad
        Water Bong full of cat cum
        KeyStones, TipsyGamer
        DitsyTeen69
        SingleGal - lookin4specialSumone
        SingleMom - lovinLIFE1992
        CumDrippinCunt
        Cum guzzled thru a dog muzzle
        Quivering Clit
        What’s all the cummotion
        Elegant Ejaculation
        Double-jointed pussy
        Captain Morgan spiced cum
        Hook my dick up to a battery
        Queefs reek of cum
        First day of school/last day of life
        Smegma sandcastle
        AnorexicAngel1997
        SigmaPhiEpsilon, pussyhound420
        Snorting lines of cum
        Cum spunk in my trunk
        Bees make honey; I make cummy
        We’ve got the creamer’s disease
        3 little words, get fucked nerd
        cummybunz, bootycake playa
        accidentally fucked my own ass
        act your age not your dick size
        ass is running on cum vapors
        BAZINGA!!! XD
        big juicy bug cock central
        Beating off in church with dad
        blueball ice cream
        bottom stuffer; semen huffer
        caught me cock in a 3-ring binder
        choke on my cum you pub bitch
        chugged the cum & fugged ya mum
        cum farmer, harvester of cum
        cum blast me and make it snappy
        cum Cranmer cock slammer
        Cum detective: hot on the trail
        cum drop soup
        cum fever in my smelly dick
        cum makes me fearless
        cum lovers anonymous
        cum stacked high swag til I die
        Cummy Rae Jespen - Cum Me Maybe
        cummy bottom boy
        cummy tummy 420
        don’t call it a cum back
        excruciating dick peeler dude
        famous dog porn director
        first the kiss, then the cum
        fresh balls
        fucked hard in the front yard
        fuck my cum puddle
        fuck my asshole full of cum
        execution by excessive cum
        ghosting hits of dank cum
        help my dogs got a huge boner
        I barely had any dicks inside me
        I cummed a lot
        im just a lil dank
        juggalo piss drinking contest
        just let me cum already guys
        kissed her in the cum twister
        late in the banquet of cum!
        mail your moms pieces of my dick
        maroon 5 themed gang-bang
        melodramatic dicksucker
        my dad glazed my face with cum
        my dad fell into a cum shaft
        night of the living cum
        remember 1 when it comes to cum
        only cum inside anime girls
        Powerful dog with a huge dick
        pressure cook my greasy balls
        let’s tour the family cum crypt
        Russian roulette with a cum gun
        secret cum lover
        Skrill Nye the Dubstep Guy
        sorry for party rockin xD
        smash the cum outcha balls
        splice dog cum into my DNA
        stitch my cock shut
        stuff some cum in my bottom
        suckin cum down my jizzgullet
        stuff my dick into a furnace
        The Cock, nature's cum dispenser
        the filling in a cum sandwich
        The insane bazinga brothers
        the dude who was 420 on 9/11
        twerkin’ cum out my dickhole
        turn my mouth into a pond of cum
        undercooked baby pig penises
        u gonna get pounded & creamed
        watch my cock cum, lil publet
        Who ate all my cum: a mystery
        would love a gator to fuck me
        you cum tastes trite
        you got one sick dick, bitch
        you will suck cum from my dick
        The wheel in the sky, the fly in your pie, the cum in your eye</p>
{% endblock %}